body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
}
.navbar{
  height:65px;
}
ul.nav.navbar-nav{
  position:relative;
  top:8px;
}
nav.navbar #signin{
  position:relative;
  left:280px;
  border-right:1px solid white;
}
img.signin{
  height:10%;
  width: 30%;

  position:relative;
  left:400px;
  
}
img.searchlogo{
  height:20%;
  width: 30%;

  position:relative;
  left:60px;
}
h3.panel-title{
  font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  position:relative;
}
img.logo{
  position:relative;

	height: 60x;
	width: 110px;
}

.jumbotron{
  position: relative;
  background: #000 url("../img/index/melbourne.jpg") center center;
  width: 100%;
  height: 10%;
  background-size: cover;
  overflow: hidden;
}
.intro{
  font-size: 80px;
  color:white;
  font-weight: bold;
  text-align: center;
  margin-top: 25%;
  line-height: 65px;
  z-index: 0;
}
.index_usefullink{
	text-align:center;
}
.indexbuttons{
  text-align: center;
  margin-bottom: 100px;
  margin-top: 45px;
}
.indexbuttons #indexbutton1{
  background: #e96656;
  display: inline-block !important;
  text-align: center;
  text-transform: uppercase;
  padding: 13px 35px 13px 35px;
  border-radius: 0px;
  margin: 10px;
  border: none;
}
.indexbuttons #indexbutton2{
  background: #989898;
  display: inline-block !important;
  text-align: center;
  text-transform: uppercase;
  padding: 13px 35px 13px 35px;
  border-radius: 0px;
  margin: 10px;
  border: none;
}
.resultadminmessage{
  color: #e96656;
  font-size: 40px;
  line-height: 65px;
  z-index: 0;
}
.loginresultbuttons
{ 
  text-align: center;
  margin-right:auto;
  margin-left:auto;
}
h2.media-heading.ng-binding{
  font-family: fantasy;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 26.4px;
}
p.propertyds{
  margin-top:25px;
  text-align:justify;
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  font-weight: bold;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}
img.media-object{
  border-radius: 0px;
  width:330px;
  height:220px;
}
img.media-object.agency{
  border-radius: 0px;
  width:200px;
  height:100px;
}
button.btn.btn-default.submit{
  margin-top:10px;
}
div#map-canvas{
  width:400px;
  height:400px;
}
div#map-detail.propertylistmap{
  width:300px;
  height:200px;
}
.row-footer{
  color:white;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
  border-top: none;
  background: #262f35;
}
div#google_translate_element.translate.col-sm-3{
  position:relative;
  top:45px;
}
.tab-content{
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
  padding:10px;

}
div.media-left .media-middle img{
  height:400px;
  width:400px;
}
#map {
        height: 100%;
}