<div class="container" ng-controller="PartnersiteController">
        <div class="row row-content">
            <ul class="media-list">
                <li class="media" ng-repeat="n in news">
                    <div class="media-body">
                        <h2 class="media-heading propertytitle">{{n.title}} </h2>
                        <a ui-sref="app.adminsitedetail({id: n._id})">Detail</a>
                        <p class="propertyds">{{n.author}}</p>
                        <p class="propertyds">{{n.content}}</p>

                    </div>
                </li>
            </ul>
    </div>
</div>