<div class="container">
    <div class="row row-content" ng-controller="PropertyDetailController">
        <div class="col-xs-12" ng-if="!showProperty">
            <h3>{{message}}</h3>
        </div>
        <div class="col-xs-12" ng-if="showProperty">
            <button class="btn btn-xs btn-primary pull-right" type="button" ui-sref="app.homesearch">
            Back to HomeSearch
            </button>
            <div class="media-left media-middle">
                    <a>
                        <img class="media-object img-thumbnail" src="{{property.images[0].path}}" width="300px" height="200px">
                    </a>
            </div>
            <div class="media-body">
                <h2 class="media-heading">{{property.title}}</h2>

                <i class="fa fa-car" aria-hidden="true"></i>
                <span class="badge">{{property.car}}</span>

                <i class="fa fa-tint" aria-hidden="true"></i>
                <span class="badge">{{property.washroom}}</span>

                <i class="fa fa-bed" aria-hidden="true"></i>
                <span class="badge">{{property.bedroom}}</span>
                
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span class="label label-danger label-xs">{{property.areacode}}</span>

                <br/>
                
                <p id="propertyaddress">{{property.address}}</p>
                <p class="propertyds">{{property.description}}</p>

                <button type="button" class="btn btn-default" ui-sref="app.agentcontact"><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>Contact Us
                </button>
            </div>
        </div>    
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail">
            <img src="{{property.images[0].path}}" width="250px" height="200px"alt="property image">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail">
            <img src="{{property.images[1].path}}" width="250px" height="200px"alt="property image">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail">
            <img src="{{property.images[2].path}}" width="250px" height="200px"alt="property image">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail">
            <img src="{{property.images[3].path}}" width="250px" height="200px"alt="property image">
          </a>
        </div>
    </div>
    
</div>

<div class="row">
    <div id="map-canvas" ></div>
</div>
<!-- Modal -->
        <div class="modal fade" id="updateProperty" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Property Infomation Update</h4>
              </div>
              <div class="modal-body">
                    <form class="form-horizontal" name="propertyUpdateForm">
                        <div class="form-group">
                            <label for="imageTitle" class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Title input" ng-model="propertyDescription.title">
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="area" class="col-sm-2 control-label">Area Post Code</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Area Post Code" ng-model="propertyDescription.areacode">
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="address" class="col-sm-2 control-label">Address</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                                    <input type="text" class="form-control" placeholder="Where is it?" ng-model="propertyDescription.address">
                                </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="price" class="col-sm-2 control-label">Estimated Price</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></div>
                                    <input type="text" class="form-control" placeholder="Price" ng-model="propertyDescription.price">
                                </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="car" class="col-sm-2 control-label">Parking</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-car" aria-hidden="true"></i></div>
                                    <input type="text" class="form-control" placeholder="How many car?" ng-model="propertyDescription.car">
                                </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="washroom" class="col-sm-2 control-label">Washroom</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-tint" aria-hidden="true"></i></div>
                                    <input type="text" class="form-control" placeholder="How many washrooms?" ng-model="propertyDescription.washroom">
                                </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="washroom" class="col-sm-2 control-label">Bedroom</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-bed" aria-hidden="true"></i></div>
                                    <input type="text" class="form-control" placeholder="How many bedrooms?" ng-model="propertyDescription.bedroom">
                                </div>
                            </div>
                          </div>

                          <div class="form-group">
                                <label for="description" class="col-sm-2 control-label">Property Descriptiopn</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" id="description" name="description" rows="12"
                                    ng-model="propertyDescription.description"></textarea>
                                </div>
                          </div>

                          
                          <div class="form-group">
                                <div class="col-sm-3 col-sm-offset-2">
                                    <select class="form-control" ng-model="propertyDescription.purchasetype" ng-options="p.value as p.label for p in purchasetype">
                                        <option value="">buyer's purchase type</option>
                                    </select>
                                </div>
                            </div>
                                
                            <div class="form-group">
                                    <div class="col-sm-3 col-sm-offset-2">
                                        <select class="form-control" ng-model="propertyDescription.state" ng-options="s.value as s.label for s in state">
                                            <option value="">State</option>
                                        </select>
                                    </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-3 col-sm-offset-2">
                                        <select class="form-control" ng-model="propertyDescription.propertytype" ng-options="p.value as p.label for p in propertytype">
                                            <option value="">All property type</option>
                                        </select>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-sm-3 col-sm-offset-2">
                                        <select class="form-control" ng-model="propertyDescription.propertystatus" ng-options="s.value as s.label for s in propertystatus">
                                            <option value="">Property Status</option>
                                        </select>
                                </div>
                            </div>

                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="updateProperty()">save changes</button>

                    </form>
              </div>
        </div>
    </div>
</div>

<script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById("map-canvas"), {
          zoom: 15,
          center: {lat: -34.397, lng: 150.644}
        });
        var geocoder = new google.maps.Geocoder();

        geocodeAddress(geocoder, map);

        console.log('test');

      }

      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById("propertyaddress").innerHTML;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC20fPOL6sD5-8AyE4MR3zwqJzbJOUe934&signed_in=true&callback=initMap"
        async defer>
    </script>
